<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background-image: url("/images/background3.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
        }

        h1 {
            color: white;
            text-align: center;
            -webkit-text-stroke: 1px blue;
        }
          /* Styling the list of destinations */
    ul {
        
        padding: 0;
    }

    ul li {
        color: rgb(255, 255, 255); /* Change the text color of list items */
        font-size: 18px; /* Adjust font size */
        margin: 5px 0; /* Add spacing between items */
        text-shadow: 1px 1px 2px black; /* Add text shadow for better visibility */
    }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Want-to-Go List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
        <a class="navbar-brand" style="color: rgb(191, 255, 161)">Want-to-Go List</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <form method="POST" action='/search' class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" name="Search" type="search" placeholder="Search"
                    aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="container">
        <h1>Your Want-to-Go List</h1>
      
            <!-- Display the error message if there is one -->
            <% if (error) { %>
                <div class="alert alert-danger">
                    <%= error %>
                </div>
            <% } %>
    
        <!-- Add the unordered list to display destinations -->
        <ul>
            <% wantToGo.forEach(destination => { %>  <!-- Corrected this to 'wantToGo' -->
            <li><%= destination %></li>
          <% }) %>
        </ul>
        <!-- End of the unordered list -->
    
    </div>
</body>
</html>